{% extends 'layouts/base.html' %}

{% block content %}



<div></div><p> Lors de terribles inondations, un village est sur le point de se faire engloutir. Toute la population est évacuée par les pompiers, sauf le curé de ce village qui tient à rester. <br><br>

- Mais pourquoi ? Tout va disparaître !! <br><br>

– N’ayez crainte, c’est Dieu qui me sauvera.<br><br>

Tout le monde part, et le curé reste seul dans son église, les pieds dans l’eau, à prier.<br><br>

Plus tard, l’eau a atteint le premier étage, et des pompiers sur un Zodiac arrivent près de la fenêtre :<br><br>

– Montez, mon Père, montez !!<br><br>

– Non, Dieu me sauvera, je le sais, je dois prouver ma foi.<br><br>

Lorsque l’eau a continué de monter, le curé est en haut du clocher, un autre Zodiac des pompiers arrive auprès de lui. Même scénario, le curé refuse l’aide.<br><br>

L’eau continue de monter… et le curé se noie.<br><br>

Il arrive aux portes du Paradis et dit :<br><br>

– Vraiment mon Dieu, je ne comprends pas. J’ai passé ma vie à Te prier, à Te servir, toute ma vie T’a été dévouée, et Tu n’as rien fait pour me sauver !<br><br>

Et Dieu lui dit :<br><br>

– Mais si ! Je t’ai envoyé les pompiers trois fois, mais tu n’en as pas voulu. » <br><br> </p></div>

<div id = "pet">Vu la qualité de cette blague, c'est plus drôle d'écouter ça : <a href="https://www.youtube.com/watch?v=xZ-rTrWNIZk"> Surprise </a>
			<br><br> Encore mieux, celle-là elle me tue, vraiment : <a href=https://www.youtube.com/watch?v=XaJIWvNbgsA> Un classique </a>
</div>


<style type="text/css">
	

	p{
		text-align: justify;
	}

	div {
		width: 50% 
		display: block;
    	margin-left: auto;
    	margin-right: auto 
	}

	#pet {
		text-align: center;
		background-color: #ff00ff30;
		padding: 10px
	}

</style>

{% endblock %}